<div class=banner >

    <h1>Stupid (very stupid) Coach</h1>
    <p class=intro> You asked... </p>
    <p> <%= @question %> </p>

    <p class=intro> The coach says: </p>
    <p> <%= @answer %> </p>

    <p class=intro>You're welcome!</p>
    <p> <%= link_to "Ask a new question", ask_path %> </p>

</div>
